<!DOCTYPE html>
<html lang="{{ config['DEFAULT_LANGUAGE'] }}">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <meta name="description" content="{{ page.description }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="theme-color" content="#ffffff">

    {% block meta %}{% endblock %}

    <link rel="canonical" href="{{ config['CANONICAL_URL'] }}">

    <!--suppress HtmlUnknownTarget -->
    <link rel="manifest" href="/progressive/manifest.json">

    <link rel="shortcut icon" type="image/png" href="{{ elemental_url_for_static('shared/icons/favicon.ico') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ elemental_url_for_static('shared/icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ elemental_url_for_static('shared/icons/favicon-16x16.png') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ elemental_url_for_static('shared/icons/apple-touch-icon.png') }}">

    {% block styles %}{% endblock %}

</head>
<body>

    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}

    <script type="application/javascript">
        window.addEventListener('load', function () {

            if (!('serviceWorker' in navigator)) {
                console.log('Service Worker not supported !');
                return;
            }

            navigator.serviceWorker.register('/progressive/sw.js').then(function (registration) {
                console.log(`Service Worker registration with ${registration.scope} scope successful`);
            }, function (err) {
                console.log(`Service Worker registration failed with error: ${err}`);
            });

        });
    </script>

</body>
</html>